/*=========================================MAIN=========================================*/
.footer{
    &__text{
        font-family: "PT Sans";
        font-size: 10px;
        font-weight: 400;
        color: #000;
        line-height: 10px;
        padding-bottom: 32px;
    }
}
/*======================================================================================*/


/*========================================CONTENT=======================================*/

/*======================================================================================*/


/*=======================================COPYRIGHT======================================*/

/*======================================================================================*/