/*=========================================MAIN=========================================*/
.header{
    position: absolute;
    left: 0;
    right: 0;

    &__inner{
        display: flex;
        justify-content: space-between;
        padding-top: 82px;
    }

    &__logos{
        width: 547px;
        display: flex;
        justify-content: space-between;
    }

    &__buttons{
        display: flex;
        align-items: flex-start;
        width: 440px;
        justify-content: space-between;

        &-btn{
            @extend %button-date;
            border-radius: 60px;
            font-family: 'Roboto';
        }
    }
}
/*======================================================================================*/


/*=========================================MENU=========================================*/

/*======================================================================================*/


/*========================================CONTENT=======================================*/

/*======================================================================================*/