/*=====================================TOP SECTION======================================*/
.top{
    min-height: 100vh;
    @extend %image-bg;
    background-position: top;

    @media only screen and (max-width: 576px) {
        background-size: contain;
        background-position-y: 310px;
    }

    &__inner{
        padding-top: 228px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (max-width: 576px) {
            padding-top: 206px;
        }
    }

    &__wish{
        display: inline-block;
        margin-bottom: 30px;

        @media only screen and (max-width: 576px) {
            order: 4;
            margin-bottom: 0;
            margin-top: 60px;
            padding-bottom: 170px;
        }
    }

    &__button{
        @extend %button-reg;
        font-family: "Roboto";
        text-transform: uppercase;
        border-radius: 60px;
        transition: .3s all;

        &:hover{
            transform: scale(1.05);
        }

        &:active{
            transform: scale(0.95);
        }

        @media only screen and (max-width: 576px) {
            order: 1;
            max-width: 100%;
            font-size: 30px;
            padding-left: 10px;
            padding-right: 10px;
        }

        @media only screen and (max-width: 425px) {
            font-size: 24px;
        }
    }

    &__social{
        display: flex;
        justify-content: space-between;
        width: 272px;
        align-items: center;
        padding-top: 48px;
        margin: 0 auto;

        &-text{
            font-family: 'Roboto';
            font-weight: 700;
            text-transform: uppercase;
            color: $black;
            font-size: 30px;
            margin-left: 7px;
        }

        &-viber{
            &:hover{
                transform: scale(1.05);
            }
        }

        &-telegram{
            &:hover{
                transform: scale(1.05);
            }
        }

        @media only screen and (max-width: 576px) {
            order: 2;
            padding-top: 33px;
        }
    }

    &__next{
        display: inline-block;
        position: relative;
        top: 0px;
        margin-top: 61px;
        transition: .3s all;
        &-img{
            display: inline-block;
        }

        &:hover{
            top: 15px;
        }

        @media only screen and (max-width: 576px) {
            display: none;
        }
    }
}
/*======================================================================================*/


/*====================================GIFTS SECTION=====================================*/
.gifts{
    min-height: 100vh;
    padding-bottom: 84px;
    margin-bottom: -80px;

    &__inner{
        padding-top: 87px;
        padding-bottom: 84px;
    }

    &__title{
        @extend %title;
        text-transform: uppercase;
        background-color: #fff;
        border-radius: 30px;
        padding: 20px 8px;
        text-align: center;
        max-width: 980px;
        margin: 0 auto;
        box-shadow: 0px 0px 15px #fff;

        @media only screen and (max-width: 576px) {
            max-width: 510px;
            font-size: 35px;
            padding: 15px 10px;
        }
    }

    &__gallery{
        padding-top: 114px;
        display: grid;
        grid-template-columns: repeat(4, auto);

        @media only screen and (max-width: 1024px) {
            grid-template-columns: repeat(2, auto);
            padding-top: 41px;
            justify-content: center;
            grid-gap: 30px 80px;

            img{
                max-width: none;
            }
        }

        @media only screen and (max-width: 576px) {
            grid-gap: 30px 30px;
        }

        @media only screen and (max-width: 480px) {
            grid-template-columns: repeat(1, auto);
            justify-content: center;
            grid-gap: 30px 30px;
        }

        &-group{
            height: 296px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            @media only screen and (max-width: 576px) {
                height: 256px;
            }
        }

        &-count{
            position: absolute;
            right: 10px;
            bottom: 0;

            @media only screen and (max-width: 576px) {
                height: 117px;
                width: 117px;
            }
        }

        &-name{
            margin: 0 auto;

            @media only screen and (max-width: 576px) {
                padding-top: 20px;
            }
        }
    }
}

.fix-name{
    margin-top: -5px;
}

.gifts__gallery-item{

    &:nth-child(1) {
        .gifts__gallery-img{
            @media only screen and (max-width: 576px) {
                max-width: 240px;
            }
        }
    }

    &:nth-child(2) {
        .gifts__gallery-img{
            @media only screen and (max-width: 576px) {
                max-width: 125px;
            }
        }
    }

    &:nth-child(3) {

        .gifts__gallery-group{
            width: 240px;
        }
    }

    &:nth-child(4) {
        .gifts__gallery-img{
            @media only screen and (max-width: 576px) {
                max-width: 151px;
            }
        }
    }
}

/*======================================================================================*/